<!doctype html>
<html ng-app="todoApp" lang="en">
  <head>
  <meta charset="utf-8"/>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
	<script src="todo.js"></script>
	<link rel="stylesheet" href="todo.css">
	<audio id="audio" src="http://www.soundjay.com/button/beep-07.wav"></audio>
    <link rel="icon" href="todo.png">
  </head>
  <body>
	<div ng-controller="TodoListController as todoList">
	<h2>Goals</h2>
	<div ng-repeat="tag in tags track by tag.value" ng-if="tag.value != 0">
		<span class="tag">
		<h4>{{tag.value}}) {{tag.text}}	<!--{{tag.used}}-->
		<input type="button" ng-click="deleteTag($index)" ng-disabled="isWorking || tag.used" class="btn-primary" value="x" ng-if="tag.value != 0"></h4>
		</span>
		<span ng-if="tag.goal !== undefined && tag.goal != ''">{{tag.goal}} by {{tag.deadline | date:'shortDate'}}</span>
	</div>
	<form ng-submit="addTag()" ng-style="{'visibility': !isWorking && sessionSaved?'visible':'hidden'}">
		<input type="text" ng-model="tagText"  size="30"
			   placeholder="add new goal">
		<input class="btn-primary" type="submit" value="add">
	</form>
	<form ng-submit="setGoal()" ng-style="{'visibility': !isWorking && sessionSaved?'visible':'hidden'}">
		<input type="text" ng-model="goalText"  size="30"
			   placeholder="achieve this task"> by 
		<input ng-model="deadline" type="date"> towards
		<select ng-model="goalTag">
		  <option ng-repeat="tag in tags" ng-if="tag.value != 0" value="{{tag.value}}">{{tag.text}}</option>
		</select>
		<input class="btn-primary" type="submit" value="set">
	</form>
	<h2>Pomodoro Timer</h2>
	<span >Timer: {{countDownText}}</span>
	<input ng-model="audioFlag" type="checkbox" value=true>finish sound</input>
	<form ng-submit="togglePomo()">
		<input ng-model="timerText" type="submit" value="{{timerText}}" ng-disabled="breakRunning">
		duration:
		<input ng-model="pomoTime" type="number" value="{{pomoTime}}" size="3"> minutes; assign to
		<select name="tasks" ng-model="pomoAssign">
		  <option ng-repeat="todo in todos" value="{{$index}}">{{todo.text}}</option>
		</select>
	</form>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
	<form ng-submit="runBreak()">
		<input ng-model="breakRunning" type="submit" value="{{breakRunning?'cancel break':'start break'}}"  ng-disabled="pomoState == 1">
		duration:
		<input ng-model="breakTime" type="number" value="{{breakTime}}" size="3"> minutes
	</form>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
	
	<div id="wrapper">
    <div id="first">
	<h2>Intentions</h2>
	  <span>{{remaining()}} of {{todos.length}} remaining</span>
	  <!--<a href="" ng-click="archive()" ng-style="{'visibility': isWorking?'visible':'hidden'}">[archive]</a>-->
	  <ul class="unstyled">
		<li ng-repeat="todo in todos track by todo.text">

			<input type="checkbox" ng-model="todo.done" ng-style="{'visibility': isWorking?'visible':'hidden'}">
			<span class="done-{{todo.done}}"><strong>{{todo.tag}})</strong> {{todo.text}} | #pomos: {{todo.numPomos}}</span>
			<input type="button" ng-click="deleteTodo($index)" ng-style="{'visibility': isWorking || !sessionSaved?'hidden':'visible'}" class="btn-primary" value="x">

		</li>
	  </ul>
	  <div>
	  <form ng-submit="addTodo()" ng-style="{'visibility': !isWorking && sessionSaved?'visible':'hidden'}">
		<input type="text" ng-model="todoText"  size="30"
			   placeholder="add new intention">
		<label for="tags">towards</label>
		<select id="tags" name="tags" ng-model="todoTag">
		  <option ng-repeat="tag in tags" value="{{tag.value}}">{{tag.text}}</option>
		</select>
		<input class="btn-primary" type="submit" value="add">
	  </form>

	  <ul ng-model="todoSugg" ng-style="{'visibility': !isWorking && sessionSaved && todoSugg.length > 0?'visible':'hidden'}">
	  	add intention from previous session:
		<li ng-repeat="sugg in todoSugg track by sugg.text">
			<span ><strong>{{sugg.tag}})</strong> {{sugg.text}}</span>
			<input type="button" ng-click="addSugg($index)"  class="btn-primary" value="add">
		</li>
	  </ul>
	  </div>
	</div>
    <div id="second" ng-style="{'visibility': (!isWorking && !sessionSaved && outcomes.length)?'visible':'hidden'}">
	<h2>Outcomes</h2>
	<ul>
	<li ng-repeat="tag in tags track by tag.value" ng-if="tag.used">
		{{tag.text}}
	  <ul class="unstyled">
		<li ng-repeat="todo in outcomes track by todo.text" ng-if="todo.tag == tag.value">
			<input type="checkbox" ng-model="todo.done">
			<span class="{{todo.done?'done-done':'not-done'}}"><strong>{{todo.tag}})</strong> {{todo.text}} | #pomos: {{todo.numPomos}}</span>
			<input type="text" placeholder="say more" ng-model="todo.comment"  size="30">
		</li>
	  </ul>
	</li>
	</ul>
	  <!--<form ng-submit="saveOutcomes()" >
	  <input class="btn-primary" type="submit" value="{{outcomesText}}">
	  </form>-->
	</div>
	</div>
	<form ng-submit="toggleWork()" ng-style="{'visibility': (todos.length)?'visible':'hidden'}">
	  <input class="btn-primary" type="submit" value="{{workText}}" >
	</form>
	<div ng-model="lastCheckpointTime" ng-style="{'visibility': existsCheckpointFlag?'visible':'hidden'}">
		Last checkpoint: {{lastCheckpointTime | date:'medium'}}
		<!--<input type="button" ng-click="loadCheckpoint()" value="load checkpoint">-->
	</div>
</div>
  </body>
</html>

