.done-true {
	text-decoration: line-through;
	color: grey;
}

.done-done {
	color: green
}

.not-done {
	color: red
}

.hidden {
	visibility: hidden
}

#wrapper {
    width: 100%;
    border: 1px solid black;
    overflow: hidden; /* add this to contain floated children */
}
#first {
    width: 50%;
    float:left; /* add this */
    /* border: 1px solid red; */
}
#second {
	width: 50%
    /* border: 1px solid green; */
    overflow:hidden; /* add this */
}



